*{
    margin: 0%;
    padding: 0%;
}
.lifu{
    background-color: #000000;
}
/* scroollbar part start from here */
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: #000000;
}
::-webkit-scrollbar-track:hover {
    background-color: #3a3a3a;
}
::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000;
}
/*  scroollbar part end here */
.offe{
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: static;
    border-bottom: #ff0000 solid;
    border-width: 1px;
}
nav{
    display:flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70%;
}
nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 90%;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}